:root {
    --primary-color: #303030;
    --secundary-color: #c26a6a;
    --terciary-color: #f6f6f6;
    --terciary-color-darker: #c3c3c3;
    --btn-color: #2f7b97;
    --hover-filter: brightness(90%);
    --page-font: monospace, 'monospace';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color);
    font-family: var(--page-font);
}
button {
    border: unset;
    outline: unset;
    cursor: pointer;
}

/* CABEÇALHO */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 1%;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    max-width:  400px;
}
.header__nav__title {
    width: 70%;
    color: var(--secundary-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.header__nav__btn {
    background: none;
    color: var(--terciary-color);
    font-size: 2rem;
    text-box-trim: trim-both;
}
.header__nav__btn--prev {
    transform: rotateY(180deg);
}
.header__nav__btn:hover,
.header__nav__btn:active {
    filter: var(--hover-filter);
}
.header__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.header__actions__btn {
    padding: 8px;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: var(--terciary-color);
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
.header__actions__btn:hover,
.header__actions__btn:active {
    filter: var(--hover-filter);
}

/* CALENDÁRIO */
.content {
    margin: 0 1% 1%;
    flex-grow: 1;
}
.calendar {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 600px;;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}
.calendar__head {
    color: var(--secundary-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}
.calendar__head th {
    overflow: hidden;
}
.calendar__body__row {
    max-height: 90px;
}
.calendar__body__cell {
    overflow: hidden;
    align-content: flex-start;
    padding: 2px;
    background-color: var(--terciary-color);
    border: 1px solid var(--primary-color);
}
.calendar__body__cell--preview {
    color: var(--terciary-color-darker);
}
.calendar__body__cell--today {
    background-color: var(--terciary-color-darker);
}

/* AJUSTE PARA IMPRESSÃO */
@media print {
    * {
        color: black;
        background-color: none;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
    }
    .header__nav__btn,
    .header__actions {
        display: none;
    }
    .calendar__body__cell--preview p {
        display: none;
    }
}
